<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-600 h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-[30vw] bg-white px-20 py-10 rounded-[30px]">
    <h1 class="text-3xl mb-10 text-center capitalize tracking-tighter font-bold text-zinc-900 leading-none">Create New Account</h1>
    <form action="/register" method="post">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="text" name="fullname" placeholder="full name">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="email" name="email" placeholder="email">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="number" name="contact" placeholder="contact">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
      <input class="border-2 block mt-5 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" value="Creat New Account">

      <p class="text-xs font-semibold text-zinc-700 mt-7 text-center w-1/2 mx-auto">By continuing, you agree to Pinterest's  Terms of Serviceand acknowledge you've read our Privacy Policy.
        Get started here!</p>
    </form>
    <a class="text-center inline-block mt-7 text-sm font-semibold text-zinc-700 w-full" href="/">Login Existing Account?</a>
  </div>
</div>
<% include ./partials/footer.ejs %>

